/* Exercises */

.exercise.late {
  border-color: var(--clr-late);
}

/* Status */

.status {
  color: var(--clr-default);
  font-size: 1.2rem;
  display: flex;
  gap: 1ch;
}

.status_icon {
  width: 1em;
}

.status_text {
  font-weight: 300;
}

/* Title */

.description {
  padding: 0.75rem 2.18rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.description_title {
  color: var(--clr-default);
  line-height: 100%;
  font-size: 2.25rem;
}

/* Teacher */

.teacher {
  color: var(--clr-default);
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.teacher_picture {
  height: 2.2rem;
  border-radius: 50%;
  overflow: hidden;
}

.teacher .name {
  font-size: 1.5rem;
  font-weight: 700;
  opacity: 0.5;
}

.teacher .date {
  font-size: 1rem;
  font-weight: 300;
  opacity: 0.5;
}

/* Article recommendations */

.article .description_title {
  font-size: 1.75rem;
}

.articles_tags {
  display: flex;
  gap: 0.37rem;
}

.tag {
  background-color: var(--clr-accent);
  color: var(--clr-bg);
  font-size: 0.8rem;
  padding: 0.155rem 1ch;
  line-height: 100%;
  border-radius: 0.75rem;
  font-weight: 700;
}
