<section class="wrapper-section">
    <h1 class="section-title">Your progress</h1>
    <div class="progress">
        <h2>Look all that you've done</h2>
    </div>
</section>

<section id="exercises" class="wrapper-section">
    <!-- TITLE -->
    <h1 class="section-title">Your exercises</h1>
    <div class="exercises-wrapper">
        <!-- Card if empty -->
        <!-- <div class="exercise card empty">
            <div
              class="cover"
              style="
                background-image: linear-gradient(
                    180deg,
                    transparent 50%,
                    var(--clr-bg) 100%
                  ),
                  url(./src/images/all-done.jpg);
              "
            ></div>
            <div class="description">
              <div class="status">
                <img
                  class="status_icon"
                  src="./src/svg/status-all-done.svg"
                />
                <p class="status_text">all done</p>
              </div>
              <h2 class="description_title">Nothing to see here</h2>
            </div>
          </div> -->
        <!-- Card if pending -->
        <div class="exercise card">
            <div
                class="cover"
                style="
                    background-image: linear-gradient(
                            180deg,
                            transparent 50%,
                            var(--clr-bg) 100%
                        ),
                        url(http://unsplash.it/600/401);
                "></div>
            <div class="description">
                <div class="status">
                    <img
                        class="status_icon"
                        src="./src/svg/status-pending.svg" />
                    <p class="status_text">pending to Oct 10th</p>
                </div>
                <h2 class="description_title">Present continuous #01</h2>
                <div class="author">
                    <img
                        class="author_picture"
                        src="./src/images/teachers/sonally.jpg" />
                    <div class="author_information">
                        <p class="name">Sonaly Araújo</p>
                        <p class="date">on Oct 05, 2022</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Card if late -->
        <div class="exercise card late">
            <div
                class="cover"
                style="
                    background-image: linear-gradient(
                            180deg,
                            transparent 50%,
                            var(--clr-bg) 100%
                        ),
                        url(http://unsplash.it/600/400);
                "></div>
            <div class="description">
                <div class="status">
                    <img class="status_icon" src="./src/svg/status-late.svg" />
                    <p class="status_text">late</p>
                </div>
                <h2 class="description_title">Present continuous #02</h2>
                <div class="author">
                    <img
                        class="author_picture"
                        src="./src/images/teachers/sonally.jpg" />
                    <div class="author_information">
                        <p class="name">Sonaly Araújo</p>
                        <p class="date">on Sep 30, 2022</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Card when done -->
        <div class="exercise card done">
            <div
                class="cover"
                style="
                    background-image: linear-gradient(
                            180deg,
                            transparent 50%,
                            var(--clr-bg) 100%
                        ),
                        url(http://unsplash.it/660/400);
                "></div>
            <div class="description">
                <div class="status">
                    <img class="status_icon" src="./src/svg/status-done.svg" />
                    <p class="status_text">done</p>
                </div>
                <h2 class="description_title">Present continuous #01</h2>
                <div class="author">
                    <img
                        class="author_picture"
                        src="./src/images/teachers/sonally.jpg" />
                    <div class="author_information">
                        <p class="name">Sonaly Araújo</p>
                        <p class="date">on Sep 30, 2022</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="exercise card done">
            <div
                class="cover"
                style="
                    background-image: linear-gradient(
                            180deg,
                            transparent 50%,
                            var(--clr-bg) 100%
                        ),
                        url(http://unsplash.it/600/470);
                "></div>
            <div class="description">
                <div class="status">
                    <img class="status_icon" src="./src/svg/status-done.svg" />
                    <p class="status_text">done</p>
                </div>
                <h2 class="description_title">Verb to be #02</h2>
                <div class="author">
                    <img
                        class="author_picture"
                        src="./src/images/teachers/sonally.jpg" />
                    <div class="author_information">
                        <p class="name">Sonaly Araújo</p>
                        <p class="date">on Sep 30, 2022</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="exercise card done">
            <div
                class="cover"
                style="
                    background-image: linear-gradient(
                            180deg,
                            transparent 50%,
                            var(--clr-bg) 100%
                        ),
                        url(http://unsplash.it/400);
                "></div>
            <div class="description">
                <div class="status">
                    <img class="status_icon" src="./src/svg/status-done.svg" />
                    <p class="status_text">done</p>
                </div>
                <h2 class="description_title">Verb to be #01</h2>
                <div class="author">
                    <img
                        class="author_picture"
                        src="./src/images/teachers/sonally.jpg" />
                    <div class="author_information">
                        <p class="name">Sonaly Araújo</p>
                        <p class="date">on Sep 30, 2022</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="./exercises.html" class="button">View more</a>
</section>
